.portfolio_container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding:1.2rem;
    border-radius: 1.5rem;
    border: 1px solid  transparent;
    transition: var(--transition);
}

.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image{
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio_item h3{
    margin: 1.2rem 0 1rem ;
   

}

.portfolio_item p{
    margin-bottom:1rem;
    font-size: .9rem;
    color: var(--color-light);
}

.portfolio_item-cta{
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filters{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  place-items: center;
  padding-bottom: 2rem;

}

@media screen and (max-width:1024px) {
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }


}

@media screen and (max-width:600px) {

    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }


}