header {
  height: 80vh;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}



.header_container {
  justify-items: center;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10%;
}

.header_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header_right {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header_container h1 span {
  color: var(--color-primary);
}

.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
}

.header_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}

.me img {
    width: 100%; 
    height: auto;
    overflow:visible; 
  }

.fav-tech-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: start;
  align-items: center;
}

.tech-icon {
  font-size: 2rem;
}




.background-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 40%;
    height:100% ;
    object-fit: cover;
    z-index: -10;
  }
  


@media screen and (max-width: 1024px) {
  header {
    margin-top: 1rem;
    place-items: center;
    height: 100vh;
  }
  .header_container {
    grid-template-columns: 1fr;
    text-align: center;
    grid-column: 1;
    gap: 3rem;
  }
  .fav-tech-list{
    gap:1.2rem;
  }
  .background-video{
    height: 100%;
  }

}

@media screen and (max-width: 600px) {
  .badge {
    font-size: 0.73rem;
    padding: 0.5rem 1.1rem;
  }
  .header_container {
    gap: 1rem;
    padding: 1rem 0 2rem 0;
  }
  .cta{
    justify-content: center;
   
  }
  .fav-tech-list{
    display: none;
  }

  .header_left{
    gap: 1rem;
  }
  .me{
    padding: 0 ;
  }
  
  .cta {
    display: none;
  }
}
