.blog_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.back {
  display: inline-flex;
  gap: 1rem;
}

.back a {
  font-size: 1.4rem;
}


.badge{
  max-width: fit-content;
  background: var(--color-primary-variant);
  border: 1px solid var(--color-primary-variant);
  padding: .5rem;
  border-radius: .9rem;
}

.blog2_container {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.blog_item {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.blog_item .top{
  display: flex;
  justify-content: space-between;
}

.timer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .9rem;
}
.blog_item .stack {
  color: white;
}

.blog_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.blog_item-image {
  border-radius: 1rem;
  overflow: hidden;
}
.blog_item h3 {
  margin: 1.2rem 0 1rem;
}

.blog_item p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--color-light);
}

.blog_item-cta {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  place-items: center;
  padding-bottom: 2rem;
}

.blogdetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  gap: 1rem;
}
hr {
  background-color:var(--color-light); 
  border: none;
  height: 1.5px; 
  width:100%; 
  margin: 0 auto;
}

.liner{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
}



.liner p{
  display: inline-flex;
  gap: .8rem;
}

.blog-text  {
  text-align: justify;
  line-height: 1.6; 
  font-size: 1.1rem; 
  margin-bottom: 1.5rem; 
  color: #333;
}

.images img {
  max-width: 100%; /* Ensures images are responsive */
  height: auto;
  margin: 1.5rem 0; /* Adds spacing around images */
}













@media screen and (max-width: 1024px) {
  .blog_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  .blogdetails {
    padding: 1rem;
    gap: 1rem;
  }
  .blogdetails h1{
    font-size: 2rem;;
  }

  .liner {
   
    gap: 2rem;
  }

 

  .images img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .blog_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .blogdetails h1{
    font-size: 1.2rem;
  }
  .liner  {
   
    font-size: .9rem;
  }

  .liner p{
    display: inline-flex;
    gap: .1rem;
  }

  .top h3{
    font-size: 1rem;
  }

}
